{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}

<h1>Home</h1>
<hr>
<p>
    Our task manager is your ultimate to-do app, designed to simplify your day and boost your productivity. With full CRUD support, you can seamlessly create, read, update, and delete tasks, ensuring your workflow stays organized and efficient. Whether you're planning your day, managing projects, or keeping track of personal goals, this intuitive app puts you in control. Experience the satisfaction of checking off completed tasks and watch your progress unfold. Ready to take charge of your time and achieve more? Start using our task manager today and make every moment count!
</p>
{% endblock content %}